body {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
}

#contenedor {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#contenedor h1 {
    font-size: 30px;
}

#cabecera {
    background: #33A;
    box-shadow: 0px 2px 50px gray;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}